{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/cabinet/cabinet.css') }}" rel="stylesheet"/>
    {% endblock %}

    <div class="container" style="margin-top: 200px">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="container db-social">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xl-11">
                                <div class="widget head-profile has-shadow">
                                    <div class="widget-body pb-0 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                            </div>
                                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                                <div class="image-default">
                                                    {% if user.avatar %}
                                                        <img src="{{ asset('upload/user_photo/' ~ user.avatar) }}"
                                                             class="rounded-circle"/>
                                                    {% else %}
                                                        <img src="{{ asset('upload/user_photo/default.jpg') }}"
                                                             class="rounded-circle" style="width:120px; height: 120px"/>
                                                    {% endif %}

                                                </div>
                                                <div class="infos">
                                                    <h2>
                                                        {% if user.fullName %}
                                                            {{ user.fullName }}
                                                        {% else %}
                                                            {{ user.nick }}
                                                        {% endif %}
                                                    </h2>
                                                    <div class="location">
                                                        {% if user.city %}
                                                            {{ user.city }}
                                                        {% endif %}
                                                        {% if user.country %}
                                                            , {{ user.country }}
                                                        {% endif %}
                                                    </div>


                                                    <div id="follow">
                                                        {% if app.user %}
                                                            {% if app.user.id != user.id %}
                                                                {% if user.followers.contains(app.user) == false %}
                                                                    {#<a href="{{ path('following_follow', {'id': user.id}) }}" class="btn btn-primary m-2 btn-sm follow">Подписаться</a>#}
                                                                    <button type="button"
                                                                            class="btn btn-primary m-2 btn-sm follow"
                                                                            id="follow">Подписаться
                                                                    </button>
                                                                {% else %}
                                                                    {#<a href="{{ path('follow_unfollow', {'id': user.id}) }}" class="btn btn-danger m-2 btn-sm unfollow">Отписаться</a>#}
                                                                    <button type="button"
                                                                            class="btn btn-danger m-2 btn-sm unfollow"
                                                                            id="unfollow">Отписаться
                                                                    </button>
                                                                {% endif %}
                                                                {#<button type="button" class="btn btn-danger m-2 btn-sm unfollow" id="unfollow" >Отписаться</button>#}

                                                            {% endif %}
                                                        {% endif %}
                                                    </div>


                                                    <div class="modal fade" id="following" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Подписчики</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <ul class="list-group list-group-flush">
                                                                        {% for following in user.following %}
                                                                            <li class="list-group-item">
                                                                                {% if user.avatar %}
                                                                                    <img src="{{ asset('upload/user_photo/' ~ user.avatar) }}"
                                                                                         class="rounded-circle"/>
                                                                                {% else %}
                                                                                    <img src="{{ asset('upload/user_photo/default.jpg') }}"
                                                                                         class="rounded-circle" style="width:50px; height: 50px"/>
                                                                                {% endif %}
                                                                                <a href="{{ path('profile_view', {'nick':following.nick}) }}">{{ following.nick }}</a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="modal fade" id="followers" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Подписки</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <ul class="list-group list-group-flush">
                                                                        {% for followers in user.followers %}
                                                                            <li class="list-group-item">
                                                                                {% if user.avatar %}
                                                                                <img src="{{ asset('upload/user_photo/' ~ user.avatar) }}"
                                                                                     class="rounded-circle"/>
                                                                                {% else %}
                                                                                    <img src="{{ asset('upload/user_photo/default.jpg') }}"
                                                                                         class="rounded-circle" style="width:50px; height: 50px"/>
                                                                                {% endif %}
                                                                                <a href="{{ path('profile_view', {'nick':followers.nick}) }}">{{ followers.nick }}</a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <ul class="mt-2">
                                                        <li>
                                                            <div class="counter">
                                                                {% if user.following %}
                                                                    <div data-toggle="modal" data-target="#following">
                                                                        {{ user.following|length }}
                                                                    </div>
                                                                {% else %}
                                                                    <div data-toggle="modal" data-target="#following">
                                                                        0
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="heading" data-toggle="modal"
                                                                 data-target="#following">Подписчиков
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="counter">
                                                                {% if user.followers %}
                                                                    <div data-toggle="modal" data-target="#followers">
                                                                        {{ user.followers|length }}
                                                                    </div>
                                                                {% else %}
                                                                    <div data-toggle="modal" data-target="#followers">
                                                                        0
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="heading" data-toggle="modal"
                                                                 data-target="#followers">Подписки
                                                            </div>
                                                        </li>
                                                        <br>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                                <div class="follow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <button class="btn btn-success btn-lg" id="button">
                                Задать вопрос
                            </button></div>



                        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto question" id="block" style="display: none;">
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Задать вопрос</h5>
                                    {{ form_start(form_question) }}

                                    {{ form_row(form_question.text, {'label': 'Вопрос'}) }}

                                    {{ form_row(form_question.anon, {'label': 'Анонимность'}) }}
                                    <br>
                                    {{ form_end(form_question) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Tab panes -->
                <div class="tab-content">
                    <h3>Всего 10 вопросов и ответов</h3>
                    <br>
                    <br>
                    <div>
                        <div class="list-group">
                            <div class="d-flex w-100 justify-content-between">
                                <b class="mb-1">Animal Diagnostic and precautions</b>
                                <small>3 days ago</small>
                            </div>
                            <i class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam
                                eget risus varius blandit.</i>
                        </div>
                        <a href="" class="btn btn-outline-danger btn-sm">Like 12</a>
                        <a href="" class="btn btn-danger btn-sm">Unlike 32</a>
                        <hr>

                    </div>

                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">P</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">N</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).on('click', 'button.follow', function () {
            that = $(this);
            $.ajax({
                url: '{{ (path('following_follow', {'id': user.id})) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "data": "some_var_value"
                },
                async: true,
                success: function (data) {
                    // console.log(data)
                    // $('div#ajax-results').html(data.output);
                    $("button#follow").css("display", "none");
                    $("button#unfollow").css("display", "block");

                }
            });
            return false;

        });


        $(document).on('click', 'button.unfollow', function () {
            that = $(this);
            $.ajax({
                url: '{{ (path('follow_unfollow', {'id': user.id})) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "data": "some_var_value"
                },
                async: true,
                success: function (data) {
                    // console.log(data)
                    // $('div#ajax-results').html(data.output);
                    $("button#follow").css("display", "block");
                    $("button#unfollow").css("display", "none");

                }
            });
            return false;

        });


        $('#button').on('click', function(e) {
            $('#block').slideToggle(function() {
                $(e.target).text($(this).is(':visible') ? 'Скрыть' : 'Задать вопрос');
            });
        });

    </script>

{% endblock %}