{% extends 'base.html.twig' %}

{% block title %}
    Оповещения
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 10px">
        <ul class="list-group">
            {% for notification in notifications %}
                <li class="list-group-item mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        {% if notification.seen == false %}
                            <b>
                                <a href="{{ path('profile_view', {'nick': notification.creator.nick}) }}">{{ notification.text }}</a>
                            </b>
                        {% else %}
                            <a href="{{ path('profile_view', {'nick': notification.creator.nick}) }}">{{ notification.text }}</a>
                        {% endif %}
                        <small>{{ notification.time|date("F jS \\a\\t g:ia") }}</small>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}