{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('questions_get_all', {'nick': user.nick}) }}"
       class="btn btn-info m-2 btn-sm answered"
       id="answered">Все
    </a>
    <a href="{{ path('questions_get_answered', {'nick': user.nick}) }}"
       class="btn btn-info m-2 btn-sm answered"
       id="answered">Неотвеченные
    </a>
    <a href="{{ path('questions_get_not_answered', {'nick': user.nick}) }}"
       class="btn btn-info m-2 btn-sm answered"
       id="answered">Отвеченные
    </a>


    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% for question in questions %}
                    <div class="card">
                        <div class="card-body">
                            {#<h5 class="card-title">{{ question.text }}</h5>#}
                            <p class="card-text">{{ question.text }}</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}